*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#container {
    border-top: 1px solid black;
    border-right: 1px solid black;
    height: 700px;
    width: 700px;
    margin: 0;
    
}

.row {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    height: 6.25%;
    margin: 0;
    padding: 0;
}

.column {
    border-left: 1px solid black;
    margin: 0;
    padding: 0;
    width: 6.25%;
}

.hovered {
    background: black;
}

#btn {
    padding: 5px;
    margin: 5px;
    background-color: blueviolet;
    color: white;
    font-size: 22px;
}
