*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    border-top: 1px solid black;
    border-right: 1px solid black;
    height: 700px;
    width: 700px;
    
}

.row {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    height: 6.25%;
    margin: 0;
    padding: 0;
}

.column {
    border-left: 1px solid black;
    margin: 0;
    padding: 0;
    width: 6.25%;
}

.hovered {
    background: black;
}

